.search-div {
    -webkit-appearance: none;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin:0 auto;
  
    @media screen  and (max-width:760px){
      display:flex;
      flex-direction: column;
      height:30vh;
      overflow: hidden; 
      }
    

}

.search{
    border: none;
    outline: none;
    padding: 10px;
    max-width: 30vw;
    min-width: 20vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    line-height: 10px;

    select{

        @media screen  and (max-width:760px){
            margin-top:0.5rem;
            }
    }
    
}

label{
    color:white;
    @media screen  and (max-width:760px){
       font-size: 12px;
        }

}

input{
    line-height: 10px;  
    height: 1.3rem;
    @media screen  and (max-width:760px){
        margin-top:0.5rem;
        }

}