.search-div {
    -webkit-appearance: none;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin:0 auto;
  
    

}

.search{
    border: none;
    outline: none;
    padding: 10px;
    max-width: 30vw;
    min-width: 20vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    position: relative;
    line-height: 30px;
    
}

label{
    color:white;
}

input{
    line-height: 10px;  
    height: 2rem;

}